/* Aplica al body y html */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Contenedor raíz de tu app */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* El contenido principal debe expandirse */
.main-content {
  flex: 1;
  margin-top: 65.99px !important;
}
/* STYLES OF NAVBAR */
.nav-tech {
  background-color: #1e1e1e;
}
nav .search-tech {
  border-color: #cb6ce6;
  color: #cb6ce6;
}
nav .search-tech:hover,
nav .search-tech:active {
  border-color: #cb6ce6 !important;
  background-color: #cb6ce6 !important;
  color: white !important;
}

nav .form-control-tech:focus {
  border-color: #cb6ce6;
  box-shadow: 0 0 0 0.2rem rgba(203, 108, 230, 0.25);
}

nav .logo-tech {
  height: 40px;
}

footer .logo-tech {
  height: 65px;
}

/* HEADER */

header {
  background: linear-gradient(to top, #5170ff, #ff66c4);
}

/* POPULAR PRODUCTS SECTION */

.title-product-tech {
    color: #212529 !important; 
}

.line-tech{
    background-image: linear-gradient(to right, #5170ff, #ff66c4) !important;
    height: 2px !important;
    width: 100% !important;
    margin-bottom: 40px !important;
}


/* PRODUCT CARD */
.card-product-tech:hover {
  background-color: #1e1e1e !important; /* fondo oscuro para la card */
  color: white !important;
  overflow: hidden !important;
}
.card-product-tech:hover .old-price-product-tech{
  color: rgba(255, 255, 255, 0.7) !important;
}

.card-product-tech:hover .btn-detalles-tech {
  color: white !important; /* texto blanco */
  border-color: white !important;
}

div .card-product-tech:hover .btn-detalles-tech:hover {
  background: linear-gradient(to top, #5170ff, #ff66c4) !important;
  border-color: #cb6ce6 !important;
}

div .name-product-tech {
  color: #cb6ce6;
}
.img-product-tech {
  transition: transform 0.3s ease-in-out !important;
}

.card-product-tech:hover .img-product-tech {
  transform: scale(1.05) !important;
}

/* PRODUCTS DETAILS PAGE */
.image-zoom-wrapper {
  width: 100%;
  height: auto;
}

.image-zoom-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.image-zoom-wrapper::after {
  content: '';
  display: var(--display);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--url);
  background-repeat: no-repeat;
  background-size: 200% 200%;
  background-position: var(--zoom-x) var(--zoom-y);
  pointer-events: none;
}
.title-marca {
  color: #cb6ce6 !important;
}
.miniatures {
  margin-top: 10px;
  ;
}

.mini-img.active {
  border: 2px solid #cb6ce6;
}
/* FOOTER */

.footer-tech {
  background-color: #1e1e1e !important;
}
/* ICONOS SOCIALES */

.icons-social {
  color: white !important;
}



